
		<footer>
			<div class="container">
				<div class="row">
					<div class="span3">
						<h5>About pinitto.me</h5>
						<p>PinItTo.me is an infinite virtual corkboard. Collaborate with friends, family, or colleagues in real time in any way you want. Make plans, share ideas, play games...</p>

                                                <p>This is a free service (please donate to help cover costs) and the code will be open sourced very soon. Please feel free to make suggestions for improvements and let us know about any of those nasty bugs.</p>
					</div>
					<hr class="visible-phone">
					<div class="span3">
						<h5>Most Commented</h5>
						<ul>
							<li><i class="icon-double-angle-right"></i> <a href="#">Payment Gateway</a> <small><i class="icon-bolt"></i>Hot Topic</small></li>
							<li><i class="icon-double-angle-right"></i> <a href="#">User Experience</a></li>
							<li><i class="icon-double-angle-right"></i> <a href="#">Front-End Develpment</a></li>
							<li><i class="icon-double-angle-right"></i> <a href="#">CSS Pre-Processors</a> <small><i class="icon-bolt"></i>Hot Topic</small></li>
							<li><i class="icon-double-angle-right"></i> <a href="#">Git and GitHub</a></li>
							<li><i class="icon-double-angle-right"></i> <a href="#">Web Platfoms</a></li>
							<li><i class="icon-double-angle-right"></i> <a href="#">HTML5 Platform</a> <small><i class="icon-bolt"></i>Hot Topic</small></li>
						</ul>
					</div>
					<hr class="visible-phone">
					<div class="span3">
						<h5>Happy Tags</h5>
						<ul class="tag-cloud">
							<li><a href="#">styles</a></li>
							<li><a href="#">layout</a></li>
							<li><a href="#">letterpress</a></li>
							<li><a href="#">magazine</a></li>
							<li><a href="#">menu</a></li>
							<li><a href="#">metal</a></li>
							<li><a href="#">navigation</a></li>
							<li><a href="#">paper</a></li>
							<li><a href="#">print</a></li>
							<li><a href="#">scripts</a></li>
							<li><a href="#">git</a></li>
							<li><a href="#">node</a></li>
						</ul>
					</div>
					<hr class="visible-phone">
					<div class="span3">
						<h5>Social Networks</h5>
						<p>Join the conversation:</p>
						<ul>
							<li><i class="icon-facebook"></i> <a href="https://facebook.com/pinittome">Friend us</a></li>
							<li><i class="icon-twitter"></i> <a href="https://twitter.com/pinittome">Follow us</a></li>
							<li><i class="icon-github"></i> <a href="https://github.com/pinittome/pinitto.me">Fork us</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="span12">
							<p class="pull-right"><a href="#">Back to top</a></p>
							<p>&copy; System created by &middot; <a href="http://twitter.com/pinittome">@pinittome</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<!-- last but not least the javascript -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/js/jquery-1.8.3.min.js"><\/script>')</script>
		<script src="/js/bootstrap.js"></script>
		<script>
			$(document).ready(function(){
				//bootstrap tooltip trigger
				$('[rel="tooltip"]').tooltip();
			});
		</script>
	</body>
</html>
