        <footer>
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <h5>About PinItTo.me</h5>
                        <p>Pinitto.me is an infinite virtual corkboard.  Collaborate with friends, family, or colleagues in real time 
                        in any way you want. Make plans, share ideas, play games...</p>
                        <p>This is a free service (please donate to help cover costs) and the code will be open sourced very soon. Please feel 
                        free to make suggestions for improvements and let us know about any of those nasty bugs.</p>
                        <p><a class="btn" href="/about">About &raquo;</a></p>
                    </div>
                    
                    <hr class="visible-phone">
                    
                    <div class="span4">
                        <h5>Twitter</h5>
                        <div class="tweet"></div>
                        <p><a class="btn" href="https://twitter.com/pinittome" target="_blank">Follow &raquo;</a></p>
                    </div>
                    
                    <hr class="visible-phone">
                    
                    <div class="span4">
                        <h5>Misc</h5>
                        <p>Contact us on one of the following services:</p>
                        <ul>
                            <li><i class="icon-facebook"></i> <a href="http://facebook.com/pinittome" target="_blank">Friend us</a></li>
                            <li><i class="icon-twitter"></i> <a href="https://twitter.com/pinittome" target="_blank">Follow us</a></li>
                            <li><i class="icon-github"></i> <a href="https://github.com/pinittome/pinitto.me" target="_blank">Fork us</a></li>
                            <!--<li><i class="icon-google-plus"></i> <a href="#">Donate</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <p class="pull-right"><a href="#">Back to top</a></p>
                            <p>&copy; Created by &middot; <a href="https://twitter.com/pinittome" target="_blank">@pinittome</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>
