
		<!-- image slider -->
		<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner">
				<!-- slide 1 -->
				<div class="item active">
					<img src="/assets/slide-01.jpg" alt="">
					<div class="container">
						<div class="carousel-caption">
            <h1>Welcome to PinItTo.me</h1>
            <p class="lead visible-desktop">PinItTo.me is an infinite virtual corkboard. Collaborate with friends, family, or colleagues in real time in any way you want. Make plans, share ideas, play games...</p>
            <a class="btn btn-large btn-primary" href="https://pinitto.me/#create">Create New Board</a>
						</div>
					</div>
				</div>
				<!-- slide 2 -->
				<div class="item">
					<img src="/assets/slide-02.jpg" alt="">
					<div class="container">
						<div class="carousel-caption">
							<h1>Realtime collaboration</h1>
							<p class="lead visible-desktop">Collaborate across the globe in real time using pinitto.me.<br/>Free, open source, and unrestricted. Give it a go today.</p>
							<a class="btn btn-large btn-primary" href="/about">Learn more</a>
						</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div><!-- /.carousel -->

		<div class="middle-bar">
			<div class="container">
				<div class="row">
					<div class="span12">
<h2>It's easy to get started. Just click this button <a href="https://pinitto.me/#create" class="btn btn-large">Create New Board <i class="icon-circle-arrow-right"></i></a></h2>
					</div>
				</div>
			</div>
		</div>

