{% include header.html %}
		<div class="teaser">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h1>News //</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="middle-bar">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h2>Learn about the past, present, and future of pinitto.me</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">

				<!-- left column -->
				<div class="span8">
                                {{ content }}
				</div><!-- end of left column -->

				<!-- sidebar -->
				<aside class="span4">
					<!-- widget -->
					<div class="row">
						<div class="span4">
							<h4>Hot topics</h4>
							<ul class="tag-cloud">
                                                        {% for tag in site.tags %}
                                                        <li><a href="#">{{ tag[0] }}</a></li>
                                                        {% endfor %}
							</ul>
						</div>
					</div>
                                        <div class="row">
                                                <div class="span4">
                                                        <h4>Subscribe to feed</h4>
                                                        <div class="subtome"><input type="button" class="btn btn-primary"  onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()" value="Subscribe"/></div>
                                                <p class="italics">Using the universal follow button from <a href="https://www.subtome.com">SubToMe</a></p>
                                                </div>
                                        </div>
                              
				</aside><!-- sidebar -->

			</div><!-- /.row -->
		</div><!-- /.container -->
{% include footer.html %}
