{% include header.html %}
{% include image-slider.html %}

		<div class="container">
			<!-- Three columns -->
			<div class="row">
				<div class="span4">
					<h2>Strategy</h2>
					<p><i class="icon-lightbulb icon-4x pull-left"></i>We break free from conventions and grow the market instead of just your slice. TBWA is a committed strategic partner helping.</p>
					<p><a class="btn" href="#">View details &raquo;</a></p>
				</div><!-- /.span4 -->
				<div class="span4">
					<h2>Analytics</h2>
					<p><i class="icon-cogs icon-4x pull-left"></i>We help you to recognize growth opportunities related to the rapid changes in consumer media behaviour and fully grasp the benefits.</p>
					<p><a class="btn" href="#">View details &raquo;</a></p>
				</div><!-- /.span4 -->
				<div class="span4">
					<h2>Design</h2>
					<p><i class="icon-beaker icon-4x pull-left"></i>For us, the product package represents the core media within shopper marketing. We manage the packaging design, from individual products.</p>
					<p><a class="btn" href="#">View details &raquo;</a></p>
				</div><!-- /.span4 -->
			</div><!-- /.row -->

			<hr>
			<h2>Time to take the fancy tour:</h2>
			<hr>

			<!-- product tour -->
			<div class="row">
				<div class="span12 tour-section">
					<img src="assets/product-01.jpg" alt="" class="pull-right tour-image">
					<div class="ribbon-left ribbon-color-one">
						<h2><i class="icon-cloud-download"></i> Download</h2>
					</div>
					<h3>Focusing on core compentence. <br/>
					<span class="muted">It'll blow your mind.</span></h3>
					<p class="lead">We provide the Swiss Army knife of all business website. Our highly optimized websites will help you grow your business. Our service works for any country.</p>
					<p class="lead">Super dupper tools of all business websites. Our highly optimized websites will help you grow your business. Our service works for anyone anywhere in the world.</p>
					<p><a href="#" class="btn btn-primary btn-large">Try it for free</a></p>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="span12 tour-section">
					<img src="assets/product-02.jpg" alt="" class="pull-left tour-image">
					<div class="ribbon-right">
						<h2>Compose <i class="icon-plus-sign-alt"></i></h2>
					</div>
					<h2>Oh yeah, it's that good. <br>
					<span class="muted">See for yourself.</span></h2>
					<p class="lead">We love to support independent business owners and understand that dealing with web designers or server hosts can be complicated. We simplify the process by bundling everything in one super dupper bundle just for you.</p>
					<p class="lead">Independent business owners and understand that dealing with web designers or server hosts can be complicated. We simplify the process by bundling everything in one package.</p>
					<p><a href="#" class="btn btn-primary btn-large">Try it for free</a></p>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="span12 tour-section">
					<img src="assets/product-04.jpg" alt="" class="pull-right tour-image">
					<div class="ribbon-left">
						<h2><i class="icon-comments"></i> Share</h2>
					</div>
					<h2>And lastly, this one. <br>
					<span class="muted">Checkmate.</span></h2>
					<p class="lead">Awesome support team, your website is easy to update yourself and is already mobile optimized. We also continuously update our technology to remain competitive and up to date all the time.</p>
					<p class="lead">Besides an awesome support team, your website is easy to update yourself and is already mobile optimized. We also continuously update our technology to remain competitive.</p>
					<p><a href="#" class="btn btn-primary btn-large">Try it for free</a></p>
				</div>
			</div>
			<hr>

			<div class="row">
				<div class="span12">
					<div class="well centered">
						<h3><i class="icon-magic"></i> Start a free trial now</h3>
						<form class="form-inline">
							Create an account:
							<input type="text" placeholder="Email">
							<input type="password" placeholder="Password">
							<button type="submit" class="btn btn-primary">Sign Me Up</button>
						</form>
					</div>
				</div>
			</div>

		</div><!-- /.container -->
{% include footer.html %}
