{% include header.html %}
		<div class="teaser">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h1>Our Services //</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="middle-bar">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h2>Quality & Standard Compliant Website Development.</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="span12">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab-one" data-toggle="tab">Top Notch Web Design</a></li>
						<li><a href="#tab-two" data-toggle="tab">HTML5 Web Development</a></li>
						<li><a href="#tab-three" data-toggle="tab">Mobile Web Design</a></li>
						<li><a href="#tab-four" data-toggle="tab">Interactive Multimedia</a></li>
					</ul>

					<div class="tab-content">
						<!-- tab-one -->
						<div class="tab-pane active" id="tab-one">
							<div class="row-fluid">
								<div class="span3">
									<img class="img-rounded" src="assets/product-07.jpg" alt="">
								</div>
								<div class="span6">
									<h4>Custom Designed</h4>
									<p>Product Event Pages are compatible with all mobile and tablet devices. Pages update in real-time, just like they do on the web. The video supports HTML5 (HTTP Live Streaming) and automatically detects each viewer’s device.</p>
									<h4><span class="muted">How you like me now?</span></h4>
									<p>The technology delivers a consistent viewing experience across all destinations, including your website, your product Event Page and Facebook.</p>
								</div>
								<div class="span3">
									<a href="#" class="btn btn-large btn-primary"><i class="icon-ok"></i> Download Free Trial</a>
								</div>
							</div>
						</div>
						<!-- tab-two -->
						<div class="tab-pane" id="tab-two">
							<div class="row-fluid">
								<div class="span3">
									<img class="img-rounded" src="assets/product-08.jpg" alt="">
								</div>
								<div class="span6">
									<h4>Seriously Rebranded</h4>
									<p>Not only is compatible with all mobile and tablet devices. Pages update in real-time, just like they do on the web. The video supports HTML5 (HTTP Live Streaming) and automatically detects each viewer’s device.</p>
									<h4><span class="muted">All in all the same quality</span></h4>
									<p>Always delivers a consistent viewing experience across all destinations, including your website, your product Event Page and Facebook.</p>
								</div>
								<div class="span3">
									<a href="#" class="btn btn-large btn-primary"><i class="icon-ok"></i> Download Free Trial</a>
								</div>
							</div>
						</div>
						<!-- tab-three -->
						<div class="tab-pane" id="tab-three">
							<div class="row-fluid">
								<div class="span3">
									<img class="img-rounded" src="assets/product-09.jpg" alt="">
								</div>
								<div class="span6">
									<h4>Innovating Process</h4>
									<p>Event Pages are compatible with all mobile and tablet devices. Pages update in real-time, just like they do on the web. The video supports HTML5 (HTTP Live Streaming) and automatically detects each viewer’s device.</p>
									<h4><span class="muted">Specific to the detail</span></h4>
									<p>Technology delivers a consistent viewing experience across all destinations, including your website, your product Event Page and Facebook.</p>
								</div>
								<div class="span3">
									<a href="#" class="btn btn-large btn-primary"><i class="icon-ok"></i> Download Free Trial</a>
								</div>
							</div>
						</div>
						<!-- tab-four -->
						<div class="tab-pane" id="tab-four">
							<div class="row-fluid">
								<div class="span3">
									<img class="img-rounded" src="assets/product-010.jpg" alt="">
								</div>
								<div class="span6">
									<h4>Best Investment</h4>
									<p>Designed to be compatible with all mobile and tablet devices. Pages update in real-time, just like they do on the web. The video supports HTML5 (HTTP Live Streaming).</p>
									<h4><span class="muted">Simply worth it</span></h4>
									<p>We deliver a consistent viewing experience across all destinations, including your website. We strive to deliver the best possible quality for you. Just like they do on the web. Consistent viewing experience across all destinations.</p>
								</div>
								<div class="span3">
									<a href="#" class="btn btn-large btn-primary"><i class="icon-ok"></i> Download Free Trial</a>
								</div>
							</div>
						</div><!-- /tab-pane -->
					</div><!-- /tab-content -->

				</div><!-- /span12 -->
			</div><!-- /row -->

			<hr>

			<div class="row">
				<div class="span10">
					<h3>One Click Content:</h3>
					<p>Nobody likes writing something twice. Now you can import any content from your web site into your newsletter, formatted beautifully and ready to send. Import your upcoming events, your latest blog posts and just about anything else into your newsletter without typing a single word.</p>
					<p>Any template you design in our company will automatically be optimized for both desktop and mobile email clients. This means you know it will look just as great on an iPhone as it does in Outlook or Gmail. We even make it easy to see how your template will look on a mobile device as you build it.</p>
					<p>Need to make a quick tweak to your email design? If you're comfortable with HTML, we make it easy to update any of your email code live in the browser, including syntax highlighting so it's easy to find what you're looking for.</p>
				</div>
				<div class="span2">
					<h3>Want to try?</h3>
					<img src="assets/product-06.jpg" alt="">
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="span3">
					<h3>Macmillian benchmark</h3>
					<img class="img-rounded" src="assets/banner-1.jpg" alt="">
				</div>
				<div class="span3">
					<h3>We launches</h3>
					<img class="img-rounded" src="assets/banner-2.jpg" alt="">
				</div>
				<div class="span3">
					<h3>RAFBF wins award</h3>
					<img class="img-rounded" src="assets/banner-3.jpg" alt="">
				</div>
				<div class="span3">
					<h3>Bragging rights</h3>
					<img class="img-rounded" src="assets/banner-4.jpg" alt="">
				</div>
			</div>

		</div><!-- /.container -->
{% include footer.html %}
