{% include header.html %}
		<div class="teaser">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h1>Our Weblog //</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="middle-bar">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h2>{{ page.title }}</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">

				<!-- left column -->
				<div class="span8">
					<div class="row">
						<article class="span8">
							
                                                {{ content }}
						</article>
					</div><!-- /.row -->

				</div><!-- end of left column -->

				<!-- sidebar -->
				<aside class="span4">
					<!-- widget -->
					<div class="row">
						<div class="span4">
							<h4>Search the blog</h4>
							<input type="text" class="span4 search-query" placeholder="">
						</div>
					</div>
					<hr>
					<!-- widget -->
					<div class="row">
						<div class="span4">
							<h4>Post tags</h4>
							<ul class="tag-cloud">
                                                        {% for tag in page.tags %}
							<li><a href="#">{{ tag }}</a></li>
                                                        {% endfor %}
							</ul>
						</div>
					</div>
<!-- widget -->
                                        <div class="row">
                                                <div class="span4">
                                                        <h4>Related posts</h4>
                                                        {% for post in site.related_posts %}
                                                        <p><a href="{{ post.url }}">{{ post.title }}</a></p>
                                                        {% endfor %}
                                                </div>
                                        </div>
                                        <hr>
				</aside><!-- sidebar -->

			</div><!-- /.row -->
		</div><!-- /.container -->

{% include footer.html %}
