{% include header.html %}
		<div class="teaser">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h1>Our Weblog //</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="middle-bar">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h2>Some Reflections We Have Collected Along The Way</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">

				<!-- left column -->
				<div class="span8">
					<div class="row">
						<article class="span8">
							<h2><a href="single-post.html">Designing for the empty states</a></h2>
							<p><a href="single-post.html"><img class="img-rounded" src="assets/slide-04.jpg" alt=""></a></p>
							<h3>And here's why:</h3>
							<p>Photographers and digital artists alike always try to keep their images organized neatly. If you’re a designer, this is typically vital to doing your job as well. There are a bunch of different ways to organize these files on your Mac, from Adobe’s Bridge (included with Photoshop and other software) to iPhoto, Apple’s default solution for OS X. I’ve never been a keen user of either of these because the former is too complex in areas and the latter can often dawdle here and there</p>
							<h4>Mobile First Or Mobile Worst?</h4>
							<p>When I first started designing interactive products, it was a struggle. Small projects were fine. But when the interactions got more complex, I noticed that tools, team communication, and even my own thinking started breaking down. I see many startups facing these same problems today. So I wanted to share</p>
							<hr>
							<h4>A Second Opinion</h4>
							<blockquote>
								<p>We happen to live in a massive time of transition. The PC market that has dominated computing for the past few decades.</p>
								<small>Calisto MT <cite title="Source Title">Serif Corp CEO</cite></small>
							</blockquote>
							<p>Think customer-defined. The metrics for CAD are more well-understood if they are not collaborative. The aptitude to engineer proactively leads to the capacity to incubate iteravely. Your budget for cultivating should be at least one-tenth of your budget for optimizing. Our distributed feature set is unparalleled in the industry, but our six-sigma technologies and simple use is invariably considered an amazing achievement. Think dot-com. Think seamless. Think turn-key. But don't think all three at the same time. Do you have a scheme to become customer-directed? What does the term "bloatware" really mean? What does it really mean to synthesize "wirelessly"? Do you have a strategy to become cutting-edge? Think integrated.</p>
							<hr>

						</article>
					</div><!-- /.row -->

					<div class="row">
						<div class="span8">

							<!-- the comments -->
							<h3>Latest Comments:</h3>

							<!-- single comment -->
							<div class="media">
								<a class="pull-left" href="#">
									<img class="media-object img-rounded" src="assets/user-2.jpg">
								</a>
								<div class="media-body">
									<h5 class="media-heading"><a href="#">Calisto MT</a></h5>
									Nice article. It particularly rang true with working on WordPress all day and night (my wife is thinking of having me committed) and having a way to take a break. I keep an acoustic guitar within reach at my desk and just by grabbing it when my brain starts (and my playing has gotten a lot better).
									<br>
									<a href="#">Dec, 12, 2012</a> - <a href="#">Reply</a>
								</div><!-- /.media-body -->
							</div><!-- /.media -->

							<!-- comment with nested comment-->
							<div class="media">
								<a class="pull-left" href="#">
									<img class="media-object img-rounded" src="assets/user-3.jpg">
								</a>
								<div class="media-body">
									<h5 class="media-heading"><a href="#">Lucida Sans</a></h5>
									I love what you said: “The WordPress ecosystem is vast, and there is room for lots of different specialties.” It’s intimidating to break into the WordPress community at first, but I’m finding that EVERYBODY has something to contribute (and it doesn’t have to be code).
									<br>
									<a href="#">Dec, 12, 2012</a> - <a href="#">Reply</a>

									<!-- nested comment -->
									<div class="media">
										<a class="pull-left" href="#">
											<img class="media-object img-rounded" src="assets/user-1.jpg">
										</a>
										<div class="media-body">
											<h5 class="media-heading"><a href="#">Cooper Black</a> <span>Post Author</span></h5>
											Excellent in-depth piece on the WordPress ecosystem and community! I think this deserves a periodic re-read if I ever need to recapture the excitement I have right now.
											<br>
											<a href="#">Dec, 12, 2012</a> - <a href="#">Reply</a>
										</div>
									</div><!-- end of nested comment -->
								</div><!-- end of parent .media-body -->
							</div><!-- end of parent .media -->

							<hr>

							<!-- coment form -->
							<form class="form">
								<fieldset>
									<h3>Let your voice be heard</h3>
									<label for="user-name">Name:</label>
									<input class="span4" type="text" name="user-name" placeholder="">
									<label for="user-email">Email:</label>
									<input class="span4" type="text" name="user-email" placeholder="">
									<label for="user-url">Website (Optional):</label>
									<input class="span4" type="text" name="user-url" placeholder="">
									<label for="user-comment">Your comment:</label>
									<textarea name="user-comment" class="span6" cols="30" rows="10"></textarea>
									<p></p>
									<button type="submit" class="btn">Submit comment</button>
								</fieldset>
							</form>


						</div><!-- /.span8 -->
					</div><!-- /.row -->
				</div><!-- end of left column -->

				<!-- sidebar -->
				<aside class="span4">
					<!-- widget -->
					<div class="row">
						<div class="span4">
							<h4>Search our blog</h4>
							<input type="text" class="span4 search-query" placeholder="">
						</div>
					</div>
					<hr>
					<!-- widget -->
					<div class="row">
						<div class="span4">
							<h4>3D Book Showcase</h4>
							<p>Today we want to share an experimental book showcase concept with you. The idea is to make books look more realistic by using 3D transforms and apply some fun effects</p>
						</div>
					</div>
					<hr>
					<!-- widget -->
					<div class="row">
						<div class="span4">
							<h4>Bandwidth Media Queries?</h4>
							<img class="img-rounded" src="assets/banner-1.jpg" alt="">
						</div>
					</div>
					<hr>
					<!-- widget -->
					<div class="row">
						<div class="span4">
							<h4>Improving Usability Tests</h4>
							<p>Today we want to share an experimental book showcase concept with you. The idea is to make books look more realistic by using 3D transforms and apply some fun effects</p>
						</div>
					</div>
					<hr>
					<!-- widget -->
					<div class="row">
						<div class="span4">
							<h4>Keep Your Online Profile Clean</h4>
							<img src="assets/banner-5.jpg" alt="" class="img-rounded">
						</div>
					</div>
					<hr>
					<!-- widget -->
					<div class="row">
						<div class="span4">
							<h4>Hot topics</h4>
							<ul class="tag-cloud">
								<li><a href="#">styles</a></li>
								<li><a href="#">layout</a></li>
								<li><a href="#">letterpress</a></li>
								<li><a href="#">magazine</a></li>
								<li><a href="#">menu</a></li>
								<li><a href="#">metal</a></li>
								<li><a href="#">navigation</a></li>
								<li><a href="#">paper</a></li>
								<li><a href="#">print</a></li>
								<li><a href="#">scripts</a></li>
								<li><a href="#">git</a></li>
								<li><a href="#">node</a></li>
							</ul>
						</div>
					</div>
				</aside><!-- sidebar -->

			</div><!-- /.row -->
		</div><!-- /.container -->

{% include footer.html %}
